:root {
    --color-primario: #242038;
    --color-secundario-1: #725AC1;
    --color-secundario-2: #8D86C9;
    --color-secundario-3: #CAC4CE;
    --color-secundario-4: #F7ECE1;
}
/*Reset*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg,black,#242038,#725AC1) no-repeat;
    color: #CAC4CE;
}
/*link general*/
a{
    color:#CAC4CE
}

/*cabecero*/

/*header{
    display: flex;
    width: 100%;
    background: linear-gradient(120deg,black,#242038,black);
    /*background: linear-gradient(80deg,rgb(14, 1, 37),#242038);
    position: fixed;
    top: 0px;
    justify-content: space-around;
    z-index: 3;
}*/

nav{
    background: linear-gradient(120deg,black,#242038,black);
    position: fixed;
    height: 97px;
    width: 100%;
    z-index: 3;
}

h1{
    position: absolute;
    display: block;
}

.enlace{
    position: absolute;
    padding: 22.5px 50px;
    font-size: 45px;
}

/*navegacion*/

nav ul{
    float: right;
    padding: 25.5px;

}

nav ul li{
    display: inline-block;
    line-height: 45px;
    margin: 0px 5px;
}

nav ul li a{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 25.5px 5px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover{
    background: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #F7ECE1;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*Responsive*/

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 15px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: relative;
        width: 100%;
        height: 100vh;
        background: linear-gradient(120deg,black,#242038,#725AC1);
        top: 97px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover{
        background: none;
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 450px){
    #inicio{
        width: 100%;
    }
}

/*inicio*/
#inicio{
    padding-top: 247px;
    position: relative;
    background-size: cover;
    background-position: center center;
    height: calc(115vh - 97px);
}

#inicio h2{
    position: relative;
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
}

.maquina{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#inicio p{
    text-align: center;
    font-size: 14.5px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    border-right: 4px solid #CAC4CE;
    white-space: nowrap;
    width: 81ch;
    z-index: 2;

    animation: typing 3s steps(60), blink .5s infinite step-end;
    overflow: hidden;
}
@keyframes typing {
    from{
        width: 0%;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: black;
}

/*background: linear-gradient(120deg,black,#242038,#725AC1);*/

/*servicios*/

#servicios{
    display: flex;
}

#servicios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 2);
    height: 280px;
    text-align: center;
    padding: 0px;
    margin: 15px 35px;
    border: 3px solid black;
    background: linear-gradient(120deg,#8D86C9,#CAC4CE,#F7ECE1);
    color: #242038;
}

#titulo-servicio{
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div h3{
    background: linear-gradient(80deg, black, rgb(24, 2, 59));
    margin: 0px;
    padding: 10px;
    color: #CAC4CE;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.5px;
}

div p{
    margin: 10px 40px;
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
    line-height: 16px;
}
